version: '3.4'

services:
  homebrokerspa-prod:
    container_name: prod
    image: alexfariakof/homebrokerspa-prod-img
    build:
      context: .
      dockerfile: HomeBrokerSPA/Dockerfile-Production
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:80;https://+:443
    ports:
       - 80:80
       - 443:443


