<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mx-2" >
    <div class="m-0">
      <div class="d-sm-inline-flex justify-content-around m-0" >
        <ul class="navbar-nav flex-row fw-bolder fs-2">
          <li
            class="nav-item p-2"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li
          class="nav-item p-2"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link text-dark" [routerLink]="['/acoes']">Acões</a>
        </li>
        </ul>
      </div>
    </div>
    <app-period-filter></app-period-filter>
  </nav>
</header>
