
<h2 class=" mx-2 m-0 fs-4">
  <a href="https://br.financas.yahoo.com/quote/MGLU3.SA/history?interval=1d&filter=history&frequency=1d" target="_blank" rel="" >Magazine Luiza S.A. (MGLU3.SA)</a>
</h2>
<div class="table-content">
  <table  class="table table-bordered table-sm table-responsive table-striped w-100" *ngIf="magazineLuizaHistoryPrices">
    <thead >
      <tr class="table-dark">
        <th scope="col">Data</th>
        <th scope="col">Abertura</th>
        <th scope="col">Alto</th>
        <th scope="col">Baixo</th>
        <th scope="col">Fechamento*</th>
        <th scope="col">Fechamento Ajustado**</th>
        <th scope="col">Volume</th>
      </tr>
    </thead>
    <tbody  >
      <tr class="d-table-row" *ngFor="let magazineLuizaHistoryPrice of magazineLuizaHistoryPrices">
        <td>{{ formatCustomDate(magazineLuizaHistoryPrice.date) }}</td>
        <td>{{ magazineLuizaHistoryPrice.open.toLocaleString('pt-BR', {
          style: 'currency',
          currency: 'BRL',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        }) }}</td>
        <td>{{ magazineLuizaHistoryPrice.high.toLocaleString('pt-BR', {
          style: 'currency',
          currency: 'BRL',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        }) }}</td>
        <td>{{ magazineLuizaHistoryPrice.low.toLocaleString('pt-BR', {
          style: 'currency',
          currency: 'BRL',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        }) }}</td>
        <td>{{ magazineLuizaHistoryPrice.close.toLocaleString('pt-BR', {
          style: 'currency',
          currency: 'BRL',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        }) }}</td>
        <td>{{ magazineLuizaHistoryPrice.adjClose.toLocaleString('pt-BR', {
          style: 'currency',
          currency: 'BRL',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
        }) }}</td>
        <td>{{ magazineLuizaHistoryPrice.volume.toLocaleString('pt-BR') }}</td>
      </tr>
    </tbody>
  </table>
</div>

