#filterStart {
  width: auto;
 }

#filterEnd {
  width: auto;
}

@media screen and (max-width: 667px) {
  button{
    width: auto;
    margin-top: 4px;
    font-size: 0.6rem;
  }

  #filterStart {
    width: auto;
    font-size: 0.6rem;
  }

  #filterEnd {
    width: auto;
    font-size: 0.6rem;
  }
}
