<h1 id="tableLabel">Chart Home Broker</h1>

<table *ngIf="magazineLuizaHistoryPrices">
    <thead>
      <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Adj Close</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let magazineLuizaHistoryPrice of magazineLuizaHistoryPrices">
        <td>{{ magazineLuizaHistoryPrice.date }}</td>
        <td>{{ magazineLuizaHistoryPrice.open }}</td>
        <td>{{ magazineLuizaHistoryPrice.high }}</td>
        <td>{{ magazineLuizaHistoryPrice.low }}</td>
        <td>{{ magazineLuizaHistoryPrice.close }}</td>
        <td>{{ magazineLuizaHistoryPrice.adjClose }}</td>
        <td>{{ magazineLuizaHistoryPrice.volume }}</td>
      </tr>
    </tbody>
</table>
